<div class="container">
    <ul>
    <% #エラーメッセージを全て配列で取得 %>
    <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <%end%>
    </ul>

    <%= form_with(model: article, local: true) do |f| %>
    <div>
        <%= f.label :title, 'タイトル' %>
    </div>
    <div>
        <%= f.text_field :title%>
    </div>
    <div>
        <%= f.label :content, '内容' %>
    </div>
    <div>
        <%= f.text_area :content %>
    </div>
    <%= f.submit '保存', class: 'btn-primary' %>
    <% end %>
</div>